body{
    background: #eef2ff;
    font-family: Arial, sans-serif;
}

.custom-nav{
    background: linear-gradient(135deg,#4f46e5,#7c3aed);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.dashboard-card{
    color:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.total-card{
    background:linear-gradient(135deg,#2ca7dc,#06b6d4);
}

.pending-card{
    background:linear-gradient(135deg,#dc63e2,#b83fe4);
}

.completed-card{
    background:linear-gradient(135deg,#1043b9,#2256c5);
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

table{
    background:white;
}

th{
    background:#4f46e5 !important;
    color:white !important;
}

.add-btn{
    background:#4f46e5;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    font-weight:bold;
}

.add-btn:hover{
    background:#4338ca;
    color:white;
}

.btn-warning,
.btn-danger,
.btn-primary{
    margin:2px;
}

h2,h3,h4,h5{
    font-weight:bold;
}